
h2.text-center {

    font-weight: bold;
    color: black;

    width: 10em;

    position: relative;
    left: 2em;
    margin: 1em 0em 1em 0em;
}

.Popular-Product{
  margin-left: 1em;
}
.Popular-Product >div{
  width: 20em;
  height: 10em;
}
span.describtion-popular-tag {
  margin: -2em 0px 1em 7em;
  position: absolute;
  font-size: small;
  font-weight:500;
}
img.card-img-top {
  width: 250px;
  height: 250px;
}
/* for demo purposes */
body {
  background: grey;
}

.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.card {
  margin: 20px 0;
}


.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
p.back-content {
  position: absolute;
  top: -23em;
  max-height: 20em;
  overflow: hidden;
}
.all-products {
  position: relative;
  margin: 15em 0em 0em 43em;
  width: 15em;
  height: 3em;
  text-align: center;
  background-color: green;
  border-radius: 2em;
}
.all-products a:active , a:hover{
color: black;
}
.all-products a{
  top: 1em;
    position: relative;
}
.all-products:hover{
  background-color: brown;
  color: aliceblue;
}


.slide-img{
  height: calc(100vh - 25em);
}
