
h2.text-center {

    font-weight: bold;
    color: black;

    width: 10em;

    position: relative;
    left: 2em;
    margin: 1em 0em 1em 0em;
}

.Popular-Product{
  margin-left: 1em;
}
span.describtion-popular-tag {
  margin: -2em 0px 1em 7em;
  position: absolute;
  font-size: small;
  font-weight:500;
}
