.nav{
  background-color: #ffffff;
  border-bottom: solid black 1px;
}
.body-outlet{
  background-color: #ffffff;
}
.Category{

  font-size: 1.5em;
  left: 1.5em;
}
.Category #Electronic{
  background-color: green;
}

.Category #Books{
  background-color: darkgoldenrod;
}
.Category #Computer{
  background-color:gold;
}

.Category #Gpu{
  background-color: khaki;
}


