/* You can add global styles to this file, and also import other style files */
*{
  font-weight: bold;
}
a#navbarDropdown {
  color: black;
}
a.nav-link.active {
  color: black;
}

.cart {
  top: 0.5em;
  position: relative;
}
.cart-length {
  z-index: -0.4;
  background-color: #418deb;
  color: #fff;
  border-radius: 30%;
  position: relative;
  bottom: 1em;
  right: 1em;
  width: 30px;
  height: 30px;
  font-size: 1rem;
}
.product img{
  height: 10em;
}
.cart a {
  text-decoration: none;
}

:link{
  color: black;
  text-decoration: none;
}
a {
  color: black;
}
li.nav-item.notification {
  position: absolute;
  left: 16em;
  top: 1.5em;
}
.popover-body{
  overflow-y: auto;
  height: 40em;
  width: 19em;
}
.notification-length{
    z-index: -0.4;
    background-color: red;
    color: #fff;
    border-radius: 30%;
    position: relative;
    bottom: 1em;
    right: 1em;
    width: 30px;
    height: 30px;
    font-size: 1rem;


}
.slick-next {
  right: 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
